<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/views/checkPoint.css">
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-11 col-lg-4 mx-auto">
                <div class="card">
                    <img src="/images/logo-card-img-top.webp" class="card-img-top" alt="Logo Sumando Kilómetros">
                    <div class="card-body">
                        <p class="card-text"><b>Nombre:</b> <%= name %></p>
                        <p class="card-text"><b>Documento:</b> <%= documentId %></p>
                        <p class="card-text"><b>N° de inscripción:</b> <%= enrollNumber %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
