<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <h1>Nombre: <%= name %></h1>
    <h1>Documento: <%= documentId %></h1>
    <h1>Número de inscripción: <%= enrollNumber %></h1>
</body>
</html>
