extends ../../layout

block head_styles
    style
        include ../../../assets/css/emails/updateUserData.css

block content
    h2 ¡Tus datos personales han sido actualizados! 🔓
    
    p.message
        | Acabas de actualizar tus datos personales. Si no realizaste esta acción, por favor notifícalo de inmediato a soporte.