doctype html
html
    head
        style
            include ../../../assets/css/emails/userAccessCode.less
    <body>
        <div class="wrapper-content">
            <div class="wrapper-logo">
                <h1>Sumando Kilometros</h1>
            </div>
            <div class="content">
                <h2 class="title">¡Tus datos personales han sido actualizados! 🔓</h2>
                <p>Acabas de actualizar tus datos personales, si NO fuistes tu por favor notificarlo.</p>
            </div>
        </div>
    </body>