doctype html
html
    head
        style
            include ../../../assets/css/emails/userAccessCode.less
    <body>
        <div class="wrapper-content">
            <div class="wrapper-logo">
                <h1>GIMTASTIC</h1>
            </div>
            <div class="content">
                <h2 class="title">Here's your access code! 🔓</h2>
                <p>The <b>Access Code</b> is a random, one-time code that is generated each time you enter the system, giving you much more security than having a password.</p>
                <div class="password">#{accessCode}</div>
            </div>
        </div>
    </body>