doctype html
html
    head
        style
            include ../../../assets/css/emails/newUserEnroll.less
    <body>
        <div class="wrapper-content">
            <div class="wrapper-logo">
                <h1>Sumando Kilometros</h1>
            </div>
            <div class="content">
                <h2 class="title">Congratulations, you have a new registration!! 🥳</h2>
                <p><b>#{userName}</b> has registered for your <b>#{eventTitle}</b> event with registration number <b>#{enrollNumber}</b>.</p>
            </div>
        </div>
    </body>