body {
    background-color: #F2F6FC;
    font-size: 17px;
    padding: 10px;
}

.wrapper-content {
    background-color: #fff;
    border-radius: 18px;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    padding: 10px;
}

.wrapper-content .wrapper-logo {
    background-color: #000;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    padding: 15px;
}

.wrapper-content h1 {
    color: white;
    text-align: center;
}

.wrapper-content .logo {
    display: block;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.wrapper-content .content {
    padding: 3px;
}

.wrapper-content .content .title {
    text-align: center;
}

.wrapper-content .content p {
    text-align: center;
}

.wrapper-content .content .items {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.wrapper-content .content .items li {
    margin-bottom: 5px;
}

.wrapper-content .content .btn-whatsapp-group {
    background-color: #FBB512;
    border: 2px solid #000;
    border-radius: 18px;
    color: #000;
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    text-decoration: none;
    width: fit-content;
}

.wrapper-content .content .table {
    border: 1px solid;
    border-radius: 18px;
    width: 100%;
}

.wrapper-content .content .table thead tr th {
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-top-left-radius: 18px;
}

.wrapper-content .content .table thead tr th:nth-last-of-type(1) {
    border-top-right-radius: 18px;
}

.wrapper-content .content .table tbody tr td {
    padding: 5px;
    text-align: center;
}

@media (max-width: 637px) {

    .wrapper-content {
        margin-left: 1%;
        margin-right: 1%;
    }

    .wrapper-content .logo {
        height: 50px;
    }

}