extends ../../layout

block head_styles
    style
        include ../../../assets/css/emails/newUserAccount.css

block content
    h2 Thank you for creating your account! 🎉
    
    p.message
        | To activate your account, please enter the following activation code:

    table.code-box(cellpadding="0" cellspacing="0")
        tr
            td
                = activationCode