extends ../../layout

block head_styles
    style
        include ../../../assets/css/emails/updateUserData.css

block content
    h2 Your personal data has been updated! 🔓
    
    p.message
        | You have just updated your personal information. If it was NOT you, please notify our support team immediately.